<form class="modal auth-modal" data-modal="auth">
  <div class="form">
    <button class="form-close js-modal-close">
      <svg class="icon" width="20" height="20">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="sign-up active">
      <input
        class="input"
        type="text"
        id="up-username"
        name="username"
        placeholder="Name"
        pattern="^[\w'\-,.][^0-9_!¡?÷?¿/\\+=@#$%ˆ&*(){}|~<>;:[\]]{2,}$"
      />
      <input
        class="input"
        type="text"
        id="up-email"
        name="email"
        placeholder="E-mail"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      />
      <input
        class="input"
        type="text"
        id="up-password"
        name="password"
        placeholder="Password"
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$"
      />
      <button class="submit btn-sign-up" type="submit">Sign up</button>
    </div>
    <div class="sign-in">
      <input
        class="input"
        type="text"
        id="in-email"
        name="email"
        placeholder="E-mail"
      />
      <input
        class="input"
        type="text"
        id="in-password"
        name="password"
        placeholder="Password"
      />
      <button class="submit btn-sign-in" type="submit">Sign in</button>
    </div>

    <div class="toggler">
      <div class="box-radio">
        <input
          class="auth-radio"
          type="radio"
          id="sign-up"
          name="auth"
          value="sign-up"
          checked
        />
        <label for="sign-up">Sign up</label>
      </div>

      <div class="box-radio">
        <input
          class="auth-radio"
          type="radio"
          id="sign-in"
          name="auth"
          value="sign-in"
        />
        <label for="sign-in">Sign in</label>
      </div>
    </div>
  </div>
</form>
