<nav class="navigation">
  <ul>
    <li class="action">
      <a class="link link-home" href="../index.html">Home</a>
    </li>
    <li class="action">
      <a class="link link-shopping" href="../shopping-list.html"
        ><span>Shopping list</span>
        <svg class="icon" width="20" height="20">
          <use href="./img/sprite.svg#icon-box"></use>
          </svg>
    </a>
    </li>
  </ul>
</nav>
