<header class="common-header">
  <div class="container">
    <div class="boxLogo">
      <picture class="logo-light">
        <source
          srcset="
            ./img/mobile/logo-light.png    1x,
            ./img/mobile/logo-light@2x.png 2x
          "
        />
        <img
          src="./img/logo-light.png"
          alt="Book logo"
          width="65"
          height="16"
        />
      </picture>
    </div>
    <div class="boxBtns">
      <div class="theme-switch">
        <div class="control">
          <input class="toggle" type="checkbox" name="theme" id="toggle" />
          <label aria-hidden="true" class="track" for="toggle"> </label>
          <div aria-hidden="true" class="marker"></div>
        </div>
      </div>
      <button class="menu js-open-modal" data-modal="menu" type="button">
        <svg class="icon" width="28" height="28">
          <use href="./img/sprite.svg#icon-menu"></use>
        </svg>
      </button>
      <button class="menu-close js-modal-close">
        <svg class="icon" width="28" height="28">
          <use href="./img/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <!-- <load ="partials/common-signup.html" /> -->
    </div>
    <load ="partials/common-navigation.html" />
  </div>
</header>
