<div class="modal" data-modal="menu">
  <load ="partials/common-signup.html" />
  <div class="user-bar"></div>
  <load ="partials/common-navigation.html" />
  <button class="btn-sign-out" type="button">
    Log out
    <svg class="icon" width="20" height="20">
      <use href="./img/sprite.svg#icon-row"></use>
    </svg>
  </button>
</div>
