<div class="home-bestsellers active">
    <div class="container">
        <h3 class="title">Best Sellers <span class='accent'>Books</span></h3>
        <ul class="bestsellers-books__list"></ul>
    </div>
</div>
