<aside class="sidebar-support">
  <div class="container">
    <h3 class="title">
      Support Ukraine
      <svg class="pic" width="20" height="32">
        <use href="./img/sprite.svg#icon-coat"></use>
      </svg>
    </h3>
    <div class="swiper swiperSupport" data-id="swiperSupport">
      <ul class="support__list swiper-wrapper">
        <li class="support-item swiper-slide">1</li>
      </ul>
    </div>
    <div class="navigation">
      <div class="swiper-button-next-swiperSupport arrow">
        <svg class="icon" width="20" height="20">
          <use href="./img/sprite.svg#icon-down"></use>
        </svg>
      </div>
    </div>
  </div>
</aside>
