.bestseller-book {
  width: 335px !important;
  line-height: 14px;
  cursor: pointer;
}
.bestseller-book .imgBox {
  position: relative;
  overflow: hidden;
  margin-bottom: 14px;
  border-radius: 8px;
}
.bestseller-book .img {
  width: 335px;
  height: 485px;
}
.bestseller-book .imgBtn {
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  width: 100%;
  height: 70px;
  background-color: var(--yellow);
  color: var(--black);
  font-size: 14px;
  font-weight: 500;
  padding: 26px;
  text-align: center;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.bestseller-book:hover .imgBtn {
  transform: translateY(0%);
}
.bestseller-book .bookTitle {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 4px;
}
.bestseller-book .bookAuthor {
  font-weight: 400;
  font-size: 12px;
  font-style: italic;
}
