.navigation {
  text-align-last: left;
}
.navigation .action {
  display: flex;
  align-items: center;
}
.navigation .link {
  padding: 8px 0px;
  text-transform: uppercase;
  border-radius: 36px;
  font-weight: 500;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  transition: var(--transition) all;
  margin: 8px 0;
}
.navigation .link .icon {
  fill: var(--white);
  transition: var(--transition) all;
}
.navigation .link:hover,
.navigation .link:focus,
.home .navigation .link-home,
.shopping-list .navigation .link-shopping {
  background-color: var(--yellow);
  font-weight: 700;
  font-size: 18px;
  color: var(--black);
  padding: 8px 16px;
}
.navigation .link:hover .icon {
  fill: var(--black);
}
