.modal-overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: opacity var(--transition), visibility var(--transition);
}

.modal {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 2;
  background-color: var(--light-bcg-color);
  /* transition: var(--transition) all; */
  color: var(--black);
  padding: 32px 24px;
  border-radius: 15px;
}
.modal.active,
.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}
.auth .modal.active {
  z-index: 1001;
  background-color: var(--blue);
  background-image: url(../img/mobile/ellipse-back.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.form-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15px;
  right: 15px;
  background-color: transparent;
  border: none;
  /* transition: background-color var(--transition), border var(--transition); */
  stroke: var(--black);
}
.form-close:hover,
.form-close:focus {
  stroke: var(--blue);
}

.modal[data-modal='auth'] {
  top: 0;
  left: auto;
  transform: translate(0%, 0%);
  right: 0%;
  width: 100%;
  border-radius: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal[data-modal='auth'] .modal-close {
  stroke: var(--blue);
  top: 24px;
  right: 12px;
  z-index: 1000;
}

.modal[data-modal='auth'] .modal-close:hover {
  stroke: var(--orange);
}
.auth-modal .form {
  background-color: var(--white);
  padding: 40px 20px;
  background: var(--white);
  border: 2px solid var(--black);
  border-radius: 18px;
  position: relative;
}
.auth-modal .form .sign-up,
.auth-modal .form .sign-in {
  display: none;
}
.auth-modal .form .sign-up.active,
.auth-modal .form .sign-in.active {
  display: block;
}
.auth-modal .input {
  padding: 16px 24px;
  border: 2px solid var(--black);
  border-radius: 40px;
  color: var(--black);
  font-weight: 700;
  font-size: 16px;
  display: block;
}
.auth-modal .input::placeholder {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--black);
}
.auth-modal .input:focus {
  outline-color: var(--yellow);
}
.auth-modal .input:not(:last-of-type) {
  margin-bottom: 28px;
}
.auth-modal .form .submit {
  width: 100%;
  padding: 16px;
  background-color: var(--black);
  color: var(--white);
  text-transform: uppercase;
  margin-top: 40px;
  border: none;
  border-radius: 40px;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 20px;
}
.auth-modal .form .submit:hover {
  background-color: var(--blue);
  color: var(--white);
}
.auth-modal .form .toggler {
    display: flex;
    align-items: center;
    justify-content: center;
}
.auth-modal .form .toggler .auth-radio {
    display: none;
}
.auth-modal .form .toggler .auth-radio:checked+label {
    color: var(--blue);
    text-decoration: underline;
}
.auth-modal .form .toggler .box-radio {
  font-weight: 700;
  font-size: 14px;
color: rgba(17, 17, 17, 0.5);
text-transform: uppercase;
}
.auth-modal .form .toggler .box-radio:not(:last-of-type) {
    margin-right: 20px;
}
/* 
.menu-modal .nav .item:not(:last-child) {
  margin-bottom: 24px;
}
.menu-modal .nav .item:hover {
  color: var(--orange);
}
.menu-modal .networks {
  position: fixed;
  bottom: 20px;
  display: flex;
}
.menu-modal .networks .link {
  stroke: var(--white);
}
.menu-modal .networks .link:not(:last-child) {
  margin-right: 20px;
}
.menu-modal .networks .link:hover {
  stroke: var(--orange);
}
@media only screen and (min-width: 768px) {
  .modal[data-modal='menu'] {
    width: 290px;
    padding: 155px 80px 25px 85px;
  }
  .modal[data-modal='menu'] .modal-close {
    stroke: var(--white);
    top: 32px;
    right: 22px;
  }
  .menu-modal .networks {
    left: 34px;
  }
} */
