.modal-overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: opacity var(--transition), visibility var(--transition);
}

.modal {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 2;
  background-color: var(--light-bcg-color);
  /* transition: var(--transition) all; */
  color: var(--black);
  padding: 32px 24px;
  border-radius: 15px;
}
.modal.active,
.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}
.modal.active {
  background: url(../img/mobile/menu.png),
    radial-gradient(
      183.6% 183.01% at 59.76% -23.42%,
      #4f2ee8 28.03%,
      #ffffff 100%
    );
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: bottom right;

  text-align: center;
}
.modal-close {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15px;
  right: 15px;
  background-color: transparent;
  border: none;
  /* transition: background-color var(--transition), border var(--transition); */
  stroke: var(--black);
}
.modal-close:hover,
.modal-close:focus {
  stroke: var(--orange);
}

.modal[data-modal='menu'] {
  top: 0;
  left: auto;
  transform: translate(0%, 0%);
  right: 0%;
  width: 100%;
  background-color: var(--dark-bcg-color);
  border-radius: 0;
  height: 100vh;
  color: var(--white);
  padding: 107px 20px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.modal[data-modal='menu'] .auth-up {
  display: block;
  padding: 14px;
  width: 184px;
  margin-right: auto;
  background: var(--blue);
  border: 1.5px solid var(--black);
  border-radius: 18px;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
}

.authorized .modal[data-modal='menu'] .auth-up {
  display: none;
}
.modal[data-modal='menu'] .btn-sign-out {
  display: none;
}
.authorized .modal[data-modal='menu'] .user-bar {
  font-weight: 700;
  font-size: 22px;
  color: var(--white);
  margin-right: auto;
  margin-bottom: 130px;
}
.authorized .modal[data-modal='menu'] .user-bar .box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.authorized .modal[data-modal='menu'] .user-bar .box .icon {
  border: 1.5px solid var(--black);
  border-radius: 100%;
  display: inline-block;
  margin-right: 10px;
}
.authorized .modal[data-modal='menu'] .btn-sign-out {
  display: block;
  padding: 14px;
  width: 184px;
  background: var(--white);
  border: 1.5px solid var(--black);
  border-radius: 18px;
  color: var(--black);

  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
  margin-right: auto;
}
.modal[data-modal='menu'] .navigation {
  display: none;
}
.authorized .modal[data-modal='menu'] .navigation {
  display: inline-block;
  margin-bottom: auto;
}
.modal[data-modal='menu'] .modal-close {
  stroke: var(--blue);
  top: 24px;
  right: 12px;
  z-index: 1000;
}

.modal[data-modal='menu'] .modal-close:hover {
  stroke: var(--orange);
}
.menu-modal .nav {
  margin-bottom: auto;
}
.menu-modal .nav .item {
  transition: var(--transition) all;
}
/* 
.menu-modal .nav .item:not(:last-child) {
  margin-bottom: 24px;
}
.menu-modal .nav .item:hover {
  color: var(--orange);
}
.menu-modal .networks {
  position: fixed;
  bottom: 20px;
  display: flex;
}
.menu-modal .networks .link {
  stroke: var(--white);
}
.menu-modal .networks .link:not(:last-child) {
  margin-right: 20px;
}
.menu-modal .networks .link:hover {
  stroke: var(--orange);
}
@media only screen and (min-width: 768px) {
  .modal[data-modal='menu'] {
    width: 290px;
    padding: 155px 80px 25px 85px;
  }
  .modal[data-modal='menu'] .modal-close {
    stroke: var(--white);
    top: 32px;
    right: 22px;
  }
  .menu-modal .networks {
    left: 34px;
  }
} */
