.common-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 22px;
  width: 100%;
  border: 1.5px solid var(--black);
  border-radius: 0px 0px 8px 8px;
   position: fixed;
     z-index: 1000;
  background-color: var(--white);
}
.dark-theme .common-header .container {
  border-color: var(--white);
  background-color: var(--black);
}
.common-header .boxLogo,
.common-header .boxBtns {
  display: flex;
  align-items: center;
}
.common-header .theme-switch {
  display: flex;
  align-items: center;
}
.common-header .theme-switch .control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 50em;
  padding: 0;
}
.common-header .theme-switch .toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}
.common-header .theme-switch .track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}
.common-header .theme-switch .marker {
  position: relative;
  background-color: #fff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transform: translateX(2px);
  transition: transform 250ms var(--timing-function);
}
.common-header .theme-switch .toggle:checked + .track {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.common-header .theme-switch .toggle:checked ~ .marker {
  transform: translateX(22px);
}
.common-header .menu,
.common-header .menu-close {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: 18px;
  display: flex;
  align-items: center;
}
.common-header .menu .icon,
.common-header .menu-close .icon {
  stroke: var(--black);
}
.dark-theme .common-header .menu .icon,
.dark-theme .common-header .menu-close .icon {
  stroke: var(--white);
}
.common-header .menu:hover .icon,
.common-header .menu-close:hover .icon {
  stroke: var(--blue);
}
.common-header .menu,
.common-header .active .menu-close {
  display: flex;
}
.common-header .active .menu,
.common-header .menu-close {
  display: none;
}
.menu-close .icon {
  stroke: var(--black);
  padding: 5px;
  transition: var(--transition) all;
}
.common-header .navigation {
  display: none;
}
@media only screen and (min-width: 768px) {
  .common-header .menu { 
    display: block;
  }
  
}
