.home-bestsellers-by-type {
  display: none;
}
.home-bestsellers-by-type.active {
  display: block;
}
.home-bestsellers-by-type .title {
  font-weight: 700;
  font-size: 32px;
  text-transform: capitalize;
  line-height: 1.2;
}
.home-bestsellers-by-type .title .accent {
  color: var(--blue);
}
.bestsellers-books-by-type__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.bestsellers-books-by-type__list .bestseller-book {
  margin: 15px;
}
