.home-bestsellers {
  display: none;
}
.home-bestsellers.active {
  display: block;
}
.home-bestsellers .title {
  font-weight: 700;
  font-size: 32px;
  text-transform: capitalize;
  line-height: 1.2;
}
.home-bestsellers .title .accent {
  color: var(--blue);
}
.bestsellers-typeBooks {
  margin-bottom: 40px;
}
.bestsellers-typeBooks .title {
  font-weight: 400;
  font-size: 14px;
  color: var(--grey);
  text-transform: uppercase;
  margin-bottom: 18px;
}
.bestsellers-typeBooks .booksList {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  justify-content: center;
}
.bestsellers-typeBooks .btnBox {
  text-align: right;
}
.bestsellers-typeBooks .btn {
  padding: 14px 28px;
  border: 2px solid var(--blue);
  border-radius: 40px;
  background-color: transparent;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.dark-theme .bestsellers-typeBooks .btn {
  color: var(--white);
}
.bestsellers-typeBooks .btn:hover {
  background-color: var(--blue);
  color: var(--white);
}
