.home-categories {
  height: 228px;
  overflow: auto;
  margin-bottom: 40px;
}
.category {
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}
.light-theme .category {
  color: rgba(17, 17, 17, 0.6);
}
.dark-theme .category {
  color: rgba(255, 255, 255, 0.6);
}
.category:not(:last-child) {
  margin-bottom: 24px;
}
.category.active,
.category:hover,
.category:focus {
  text-transform: uppercase;
  font-weight: 700;
}
.light-theme .category.active,
.light-theme .category:hover,
.light-theme .category:focus {
  color: var(--blue);
}
.dark-theme .category.active,
.dark-theme .category:hover,
.dark-theme .category:focus {
  color: var(--yellow);
}
