.basicLightbox {
  overflow-y: auto;
}
.book-modal {
  background-color: var(--white);
  outline: 1.5px solid var(--black);
  border-radius: 18px;
  position: relative;
  width: 335px;
  transform: translate(0%, 100px);
}
.dark-theme .book-modal {
  background-color: var(--black);
  color: var(--white);
}
.book-modal .close {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 6px;
  stroke: var(--black);
}
.dark-theme .book-modal .close {
  stroke: var(--white);
}
.book-modal .content {
  padding: 40px 24px;
}
.book-modal .book {
  margin-bottom: 40px;
}
.book-modal .content .book .cover {
  width: 100%;
  height: 408px;
  border-radius: 8px;
  margin-bottom: 14px;
}
.book-modal .content .book .text .title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 4px;
}
.book-modal .content .book .text .author {
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  color: var(--grey);
  margin-bottom: 18px;
}
.book-modal .content .book .text .description {
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 400;
}
.book-modal .content .book .text .links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 36px;
}
.book-modal .content .book .text .links .link:hover {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}
.book-modal .content .book .text .links .link:not(:last-child) {
  margin-right: 20px;
}
.book-modal .content .book .text .links .img {
  width: 33px;
  height: 100%;
  filter: grayscale(100%);
}
.dark-theme .book-modal .content .book .text .links .img {
  filter: contrast(-100%);
}
.book-modal .content .book .text .links .img.Amazon {
  width: 62px;
  height: 100%;
}
.dark-theme .book-modal .content .book .text .links .img.Amazon {
    filter: brightness(0) invert(1);
}
.book-modal .content .btn {
  background-color: transparent;
  border: 2px solid var(--blue);
  border-radius: 40px;
  padding: 14px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.dark-theme .book-modal .content .btn {
  color: var(--white);
}
.book-modal .content .btn:hover {
  background-color: var(--blue);
  color: var(--white);
}
.book-modal .content .btnAdd,
.book-modal .content .btnDelete {
  display: none;
}
.book-modal .content .btnDelete {
  text-align: center;
}
.book-modal .content .btnAdd.active,
.book-modal .content .btnDelete.active {
  display: block;
  margin: 0 auto;
}
