.tui-page-btn {
  border-radius: 100%;
  margin: 8px;
  width: 38px !important;
  height: 38px !important;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  font-weight: 700 !important;
  font-size: 18px !important;
  border: 1px solid var(--black) !important;
}
.tui-page-btn.tui-first.tui-is-disabled,
.tui-page-btn.tui-prev.tui-is-disabled,
.tui-page-btn.tui-next.tui-is-disabled,
.tui-page-btn.tui-last.tui-is-disabled,
.tui-page-btn.tui-is-selected {
  color: var(--white) !important;
  background-color: var(--black) !important;
}
.tui-page-btn.tui-first,
.tui-page-btn.tui-prev,
.tui-page-btn.tui-next,
.tui-page-btn.tui-last {
  background-color: rgba(79, 46, 232, 0.4) !important;
}
