.shopping-list .sidebar-support {
  display: none;
}
.shopping-container {
  padding: 107px 20px 40px 20px;
}
.shopping-container .title {
  font-weight: 700;
  font-size: 32px;
  text-transform: capitalize;
  margin-bottom: 40px;
}
.shopping-container .title .accent {
  color: var(--blue);
}
.shopping-book {
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;
  position: relative;
  padding: 20px;
}
.shopping-book:not(:last-child) {
  margin-bottom: 20px;
}
.shopping-book .delete {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  border: none;
  border-radius: 100%;
  transition: var(--transition) all;
  position: absolute;
  top: 14px;
  right: 14px;
}
.shopping-book .delete:hover {
  background-color: var(--black);
}
.shopping-book .book {
  display: flex;
  margin-bottom: 4px;
}
.shopping-book .book .cover {
  border-radius: 8px;
  margin-right: 20px;
}
.shopping-book .book .text .title {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 8px;
}
.shopping-book .book .text .type {
  font-weight: 400;
  font-size: 12px;
  color: var(--grey);
  margin-bottom: 20px;
}
.shopping-book .author {
  font-weight: 400;
  font-size: 12px;
  color: var(--grey);
  margin-bottom: 20px;
  font-style: italic;
}
.shopping-book .book .text .links {
  display: flex;
  align-items: center;
}
.shopping-book .book .text .links .link:hover {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}
.shopping-book .book .text .links .link:not(:last-child) {
  margin-right: 20px;
}
.shopping-book .book .text .links .img {
  width: 28px;
  height: 100%;
  filter: grayscale(100%);
}
.shopping-book .book .text .links .img.Amazon {
  width: 48px;
  height: 100%;
}
.shopping-book .content .description {
  font-weight: 400;
  font-size: 14px;
}
