.sidebar-support .container {
  padding: 24px 40px;

  background: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    var(--blue) 18.03%,
    var(--white) 100%
  );
  box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
  border-radius: 16px;
  font-weight: 700;
  font-size: 28px;
  color: var(--white);
  margin-bottom: 40px;
}

.sidebar-support .container .title {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}
.sidebar-support .container .title .pic {
  display: inline-block;
  margin-left: 10px;
  fill: var(--white);
}
.sidebar-support .container .swiperSupport {
  height: 204px;
  margin-bottom: 20px;
}
.support-item {
  display: flex !important;
  align-items: center;
  height: 32px !important;
}
.support-item .counter {
  font-weight: 40;
  font-size: 14px;
  margin-right: 16px;
}
.support-item .img {
  max-height: 32px;
  filter: brightness(0) invert(1);
}
.sidebar-support .container .navigation .swiper-button-next-swiperSupport {
  border-radius: 100%;
  width: 32px;
  height: 32px;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-support .container .navigation {
  display: flex;
  justify-content: center;
}
.sidebar-support
  .container
  .navigation
  .swiper-button-next-swiperSupport
  .icon {
  fill: var(--blue);
}
.sidebar-support
  .container
  .navigation
  .swiper-button-next-swiperSupport:hover
  .icon {
  fill: var(--yellow);
}
