/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./common-header.css');
@import url('./common-navigation.css');
@import url('./common-auth.css');
@import url('./common-menu.css');
@import url('./home.css');
@import url('./sidebar-support.css');
@import url('./home-categories.css');
@import url('./home-bestsellers.css');
@import url('./home-bestsellers-by-type.css');
@import url('./bestseller-book.css');
@import url('./info-book-modal.css');
@import url('./shopping-list.css');
@import url('./pagination.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--black);
  background-color: var(--white);
  transition: color var(--transition), background-color var(--transition);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --blue: #4f2ee8;
  --black: #111111;
  --white: #ffffff;
  --yellow: #eac645;
  --purple: #bd34fe;
  --turquiose: #47caff;
  --grey: #b4afaf;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body.light-theme {
  color: var(--black);
  background-color: var(--white);
}
body.dark-theme {
  color: var(--white);
  background-color: var(--black);
}
.home-sidebar,
.shopping-sidebar {
  width: 100%;
  margin-right: 76px;
}
.stop-scroll {
  overflow: hidden;
  height: 100%;
}